<h1 class="text-center">Edit Contact</h1>

<div class="container">

    <%= form_for :contact, :url => { :action => :update, :id => @contact.id },
        :method => :put do |form| %>
        <% if @contact.errors.any? %>
            <div id="errorExplanation" class="bg-danger">
                <h2>
                    <%= pluralize(@contact.errors.count, "error") %> prohibited this post from being saved:</h2>
                <ul>
                    <% @contact.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <p>
                    Name: <br>
                    <%= form.text_field :name %>
                </p>
                <p>
                    Date of birth<br>
                    <%= form.date_field :dateOfBirth %>
                </p>

                <p>
                    <%= form.submit%>
                </p>
                <% end %>

                    <%= link_to  "Back", contact_path %>


</div>